/admin-client/node_modules
/admin-client/app
/admin-client/admin
/admin-client/package-lock.json
/admin-server/node_modules
/admin-server/public/temp_files
/admin-server/public/files
/admin-server/package-lock.json
/admin-client1
