.page-box {
  .table-btn {
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
  }
  .table {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .addColor {
      color: #12a9ee;
    }
    .addPointer {
      cursor: pointer;
      width: fit-content;
    }
  }
}
